int
Float
str
bool


list []
dict {key:value}
set {}
tuple ()


None

Python is dynamically typed language

use type() to understand the type of variable.

In [1]:
salary = 1000

type(salary)

int

In [18]:
emp_name= 'GT Nagaraju'
type(emp_name)

str

In [3]:
emp_rating = 4.5
type(emp_rating)

float

In [7]:
emp_retired=False
type(emp_retired)

bool

In [10]:
employee_info=[
    emp_name,
    salary,
    emp_rating,
    emp_retired]

type(list)

list

In [14]:
employee_dob = (1987,8,12)
type(employee_dob)

tuple

In [15]:
employee = {
    "id": 1023,
    "name": "Ravi Kumar",
    "age": 28,
    "salary": 85000.75,
    "skills": ["Python", "AWS"],
    "is_active": True
}

type(employee)

dict

In [16]:
employee_certificates={
    "AWS","Oracle","Docker"
}

type(employee_certificates)

set

In [17]:
employee_exit_date=None

type(employee_exit_date)

NoneType

| Scenario             | Best Data Type | Why              |
| -------------------- | -------------- | ---------------- |
| Employee ID          | `int`          | Whole number     |
| Salary               | `float`        | Decimal values   |
| Name / Email         | `str`          | Text             |
| Skills               | `list`         | Changeable       |
| Unique skills        | `set`          | No duplicates    |
| Fixed attributes     | `tuple`        | Immutable        |
| Full employee record | `dict`         | Structured       |
| Status flags         | `bool`         | True / False     |
| Missing data         | `None`         | Safe placeholder |