SECTION 1: IMMUTABLE â€“ NORMAL CASES

In [1]:
a = 10
b = a
a = 20

print(a)
print(b)

20
10

In [2]:
x = "Alice"
y = x
x = x + " Smith"

print(x)
print(y)

Alice Smith
Alice

In [5]:
a = 100
b = 100
c=a
print(a is b)
print(id(a))
print(id(b))
print(id(c))

True
140713022279688
140713022279688
140713022279688

SECTION 2: IMMUTABLE â€“ FUNCTION LEVEL

In [6]:
def change_age(age):
    age = age + 1
    print("Inside:", age)

emp_age = 30
change_age(emp_age)
print("Outside:", emp_age)

Inside: 31
Outside: 30

In [ ]:
def change_name(employee_name):
    
    employee_name = name.upper()
    print("Inside:", name)

employee_name = "ravi"
change_name(employee_name)
print(employee_name)

Inside: RAVI
ravi

In [11]:
def assign_value(x):
    x = 50
    print(f'x value {x}')

a = 10
assign_value(a)
print(a)

x value 50
10

SECTION 3: MUTABLE â€“ NORMAL CASES

In [12]:
skills = ["Python", "SQL"]
skills_alias = skills

skills.append("AWS")

print(skills)
print(skills_alias)

['Python', 'SQL', 'AWS']
['Python', 'SQL', 'AWS']

In [13]:
list1 = [1, 2, 3]
list2 = list1

list2 = list2 + [4]

print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
list1 = [1, 2, 3]
list2 = list1

list2.append(4)

print(list1)
print(list2)

#
# ðŸ’¡ Hint:

# In-place modification

[1, 2, 3, 4]
[1, 2, 3, 4]

SECTION 4: MUTABLE â€“ FUNCTION LEVEL

In [ ]:
def add_skill(skills):
    skills.append("Docker")

emp_skills = ["Python"]
add_skill(emp_skills)
print(emp_skills)

# ðŸ§  Think:

# Same object passed

# In-place change

['Python', 'Docker']

In [ ]:
def add_skill_safe(skills):
    skills = skills.copy()
    skills.append("Kubernetes")

emp_skills = ["Python"]
add_skill_safe(emp_skills)
print(emp_skills)

# ðŸ’¡ Hint:

# Copy breaks reference

['Python']

In [ ]:
def reassign_list(skills):
    skills = ["Go", "Rust"]

emp_skills = ["Python", "SQL"]
reassign_list(emp_skills)
print(emp_skills)


# ðŸ§  Think:

# Reassignment vs mutation

['Python', 'SQL']

In [ ]:
def process(data):
    data.append(100)
    data = [200, 300]

lst = [1, 2]
process(lst)
print(lst)

# ðŸ’¡ Hint:

# One mutation

# One reassignment

[1, 2, 100]

In [19]:
def update(emp):
    emp["salary"] += 5000

employee = {"name": "Ravi", "salary": 50000}
update(employee)
print(employee)

{'name': 'Ravi', 'salary': 55000}

In [20]:
def update_skills(emp):
    emp["skills"].append("AWS")

employee = {
    "name": "Ravi",
    "skills": ["Python"]
}

update_skills(employee)
print(employee)

{'name': 'Ravi', 'skills': ['Python', 'AWS']}

In [21]:
a = [1, 2]
b = a
print(id(a), id(b))

b.append(3)
print(id(a), id(b))

1866429502144 1866429502144
1866429502144 1866429502144

In [22]:
x = 10
print(id(x))

x = x + 1
print(id(x))

140713022276808
140713022276840

In [23]:
def mystery(x):
    x[0] = x[0] + 1
    x = [10, 20]

nums = [1, 2]
mystery(nums)
print(nums)

[2, 2]